*montage.png

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# IntelliJ
.idea

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

coverage.out

/modules/options/bindata.go
/modules/public/bindata.go
/modules/templates/bindata.go

*.db
*.log

/gitea

/bin
/dist
/custom
/data
/log
/public/img/avatar
/public/drawing

# Rotblauer naming convention for binary builds.
# ie darwin.gitea, linux.gitea
/darwin.gitea
/linux.gitea
/gitea.darwin
/gitea.linux
/gogs
# This is binary build, ie `gogs` which somehow is depended on for some
# repo's git hooks. It will be rynced to the server.
/gogs
*-ignore*
/indexers
*.mp3
*.wav
*.m4a
/public/music
