#catRoom {
    background-color: black;
    /* background-image: url("../img/stars-stripped-3x.jpeg"); */
    background-size: cover;
     /* contain; */
    /* cover; */
    background-repeat: no-repeat;
    /* background-position: 0% 90%; */
    background-position: center center;
    /*max-width: 100%;*/
    /*max-height: 60vh !important;*/
    /*display: table;*/
    padding: 0px 20px 20px 20px;
    -webkit-box-shadow: 1px 4px 5px 0px rgba(136,136,136,1);
-moz-box-shadow: 1px 4px 5px 0px rgba(136,136,136,1);
box-shadow: 1px 4px 5px 0px rgba(136,136,136,1);
}

#chat-messages-container {
    height: 100%;
    overflow: scroll;
}

sup.operator-name-icon {
    background-color: dodgerblue;
    color: white;
    /* padding: 7px 4px 8px 4px; */
    padding: 8px 4px;
    text-align: center;
    border-radius: 10px;
    z-index: 1505;
    position: relative;
    top: 15px;
    right: 10px;
    font-size: 0.7em;
}

#chat-messages {
    /* display: table; */
    color: lightgreen;
    font-family: monospace;
    /* overflow: scroll; */
    max-height: 60vh;
    padding-top: 20px;
}

#chat-messages span,
p,
code {
    line-height: 1.6em;
}

#catRoom code {
    color: darkred;
    background-color: white;
    padding: 2px;
    border-radius: 2px;
}

div.chat-message p {
    text-overflow: wrap;
}

#chat-messages-container:hover {
    background: rgba(5, 5, 5, 0.75);
}

.is-chat-p {
    word-break: break-all;
}

.is-chat-p img {
    max-width: 100%;
}

.highlight {
    margin-top: 3px;
    margin-bottom: 5px;
    background-color: white;
    padding: 3px 10px 3px 10px;
    border-radius: 2px;
    /* vertical-align: top; */
    color: black;
}

#catRoom .hljs {
    padding: 1rem;
    margin: 2 0 6 0rem;
    background-color: white !important;
}

#catRoom pre {
    display: block;
    padding: 1rem;
    margin: 2 0 6 0rem;
    /*font-size: 1rem;*/
    /*line-height: 1.4rem;*/
    word-break: break-all;
    word-wrap: break-word;
    border-radius: 2px;
    min-width: 90%;
    /*color: darkgray;*/
    background-color: white;
    /*border-radius: 5px;*/
}

#catRoom pre.hljs {
    display: block;
    padding: 2rem !important;
    margin: 2 0 6 0rem;
    /*font-size: 1rem;*/
    /*line-height: 1.4rem;*/
    word-break: break-all;
    word-wrap: break-word;
    border-radius: 2px;
    min-width: 90%;
    /*color: darkgray;*/
    background-color: white;
    /*border-radius: 5px;*/
}


.input-holder {
    /*display: table-row;*/
    /*height: 100px;*/
}

textarea#text {
    background: rgba(0,0,0,0.2);
    border: 1px solid rgba(144,238,144, 0);
    /* border-radius: 2px; */
    /*border: none;*/
    /*background: white;*/
    color: lightgreen;
    width: 100%;
    margin-top: 8px;
    padding: 5px 8px 5px 5px;
}

textarea#text:focus {
    background: rgba(0,0,0, 0.75);

}

#open-chatty-full {
    padding: 3vh;
    z-index: 10;
}

div.ui.row.ancatline {
    padding-top: 0;
    padding-bottom: 0 !important;
    margin-top: 0;
    margin-bottom: 0;
}


#hold-text-input-advice {
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    z-index: 10;
    background: transparent;
    padding: 1rem;
}
