.nativity-nav {
    background-color: darkred !important;
}

.nativity-nav a.item {
    color: white !important;
}

.nativity-nav a.item.active {
    color: white !important;
    background-color: green !important;
}

.following.bar.dark-stripey {
    /* background-color: white; */
    /* border-bottom: 1px solid #DDDDDD; */
    /* box-shadow: 0 0px 0px rgba(0, 0, 0, 0.04); */
    background-color: rgba(20, 20, 20, 0.89);
    /* background: repeating-linear-gradient(135deg, #111, #111 15px, #112 15px, #112 30px); */
    /* background: white; */
    /* background: radial-gradient(circle, white 10%, transparent 10%), */
    /* radial-gradient(circle, pink 10%, white 10%) 25px 25px; */
    /* background-size:50px 50px; */
    /* background-image: url("../img/g299.jpg"); */
    /* background-size:     cover; */
    /* background-repeat:no-repeat; */
    /* /\* background-position: 0% 90%; *\/ */
    /* background-position: center center; */
    /* border-top: 1px solid white; */
    border-bottom: 1px solid white;
}

.following.bar.dark-stripey .item {
    color: white;
}

.following.bar.dark-stripey .item.active {
    color: white;
    background: rgba(250, 250, 250, 0.3) !important;
}

.following.bar.dark-stripey .item:hover {
    background: rgba(200, 200, 200, 0.4);
}

.following.bar .top.menu a.item:hover {
    color: rgba(250, 250, 250, 0.45);
}

/* div.header-wrapper { */
/*     background-color: transparent !important; */
/*     /\* rgba(255,255,255,0.1) !important; *\/ */
/* } */

#christmas-lights-container-box {
    width: 100%;
    /*background: white;*/
    overflow: hidden;
    display: hidden;
    /*show with hangChristmasLights() */
    padding-left: 3px;
}

.christmas-light {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0px;
    height: 100%;
    /*margin-bottom: 3px; dunno why need this spacer*/
}

.fuck-yea-nav {
    background-color: darkblue !important;
}

.fuck-yea-nav a.item {
    color: white !important;
}

.fuck-yea-nav a.item.active {
    color: white !important;
    background-color: darkred !important;
}


/*cuz they're all sideways, don't they see that?!*/

.octicon-git-commit {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.ui.divider:not(.vertical):not(.horizontal) {
    border-top: 1px solid rgba(34, 36, 38, .05) !important;
}

i.text.grey.mega-octicon.octicon-repo {
    color: #428bca !important;
}

i.text.grey.mega-octicon.octicon-comment-discussion {
    color: green !important;
}

i.text.grey.mega-octicon.octicon-issue-closed {
    color: red !important;
}

i.text.grey.mega-octicon.octicon-issue-opened {
    color: gold !important;
}

span.time-since.poping.up {
    font-size: 10px;
}

.feeds .news .push.news .content ul img {
    max-width: 100%;
}

.repo-commit-message img {
    max-width: 100%;
}

td.repo-commit-message span p:first-child {
    display: inline;
}


/*	.text.mega-octicon.octicon-git-commit {
				color: #4183C4 !important;
			}

			.octicon-repo {
				color: darkgreen !important;
			}*/


/* Make it a marquee */

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 75s linear infinite;
}


/* Make it move */

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

#currency-ticker {
    background-color: rgba(181, 181, 181, 0.59);
    /* color: #eee; */
    color: #1e70bf;
}
