#userfeeds {
    position: relative;
    overflow: hidden;
}
.news-box {
    position: relative;
}

#drawing-controls {
    display: none;
    text-align: left;
    padding-left: 40px;
    margin-left: 25%;
    width: 100%;
    /* background-color: white ; */
    color: blue;
    display: float;
    position: fixed;
    top: 40px;
    z-index: 1001;
}
#drawing-controls button {
    /* border: 1px solid lightblue; */
    margin: 3px;
    padding: 3px;
    border: 1px solid white;
    border-radius: 3px;
    padding-left:8px;
    padding-right:8px;
    /* background-color: #AFEEEE; */
}
#clearAndQuit {
    background-color: firebrick;
    color: white;
}
#saveDrawing {
    background-color: forestgreen;
    color: white;
}
#colorp-black {
    color: white;
    background-color: black;
}
#colorp-red {
    color: white;
    background-color: red;
}
#colorp-blue {
    color: white;
    background-color: blue;
}
#colorp-yellow {
    color: white;
    background-color: gold;
}

.feed-pen {
    /* border: 1px solid red; */
    /* display: none; */
    position: absolute;
    display: float;
    /* top: -50px; */
    /* left: -50px; */
    /* width: 100%; */
    /* height: 100%; */

    /* z-index: 1000; */
    /* pointer-events: none; */
}

#drawings-loading-icon {
    /* display: none; */
    /* position: fixed; */
    /* top: 40px; */
    /* left: 0; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    color: red;
    display: none;
}

.spinnering {
    /* margin: 20px; */
    /* width: 100px; */
    /* height: 100px; */
    /* background: #f00; */
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1300ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1300ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1300ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 1300ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    0% { color: red; -ms-transform: rotate(0deg); }
    33% { color: blue; }
    66% { color: yellow; }
    100% { color: red; -ms-transform: rotate(360deg); }

}
@-moz-keyframes spin {
    0% { color: red; -moz-transform: rotate(0deg); }
    33% { color: blue; }
    66% { color: yellow; }
    100% { color: red; -moz-transform: rotate(360deg); }

}
@-webkit-keyframes spin {
    0% { color: red; -webkit-transform: rotate(0deg); }
    33% { color: blue; }
    66% { color: yellow; }
    100% { color: red; -webkit-transform: rotate(360deg); }

}
@keyframes spin {
    0% {
        transform:rotate(0deg);
        color: red;
    }
    33% { color: blue; }
    66% { color: yellow; }
    100% {
        transform:rotate(360deg);
        color: red;
    }

}
