{{ define "chat/chat.tmpl" }}




  <!-- bootstrap -->
 <!-- <link rel="stylesheet" href="{{AppSubUrl}}/assets/bootstrap-3.3.6-dist/css/bootstrap.min.css"> -->

  <!-- momentjs -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>

 <!-- highlightjs   -->
 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/default.min.css">
 <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>

 <script src="{{AppSubUrl}}/js/apple-notify.js"></script>

 <link href="{{AppSubUrl}}/css/chat.css" rel="stylesheet"/>


 <div id="signed-user-id" style="display: none;">
     {{ .SignedUser.ID }}
 </div>
 <div id="signed-user-name" style="display: none;">
     {{ .SignedUser.Name }}
 </div>

		<div id="catRoom" >
			<!-- DISCONNECTED ALERT -->
			<!-- <div id="disconnected-alert" style="position: absolute; top:0px;right:0px;left:0px;bottom:0px; display: none;">
				 <div style="display: table; position: absolute; z-index: 100; margin-left: auto; margin-right: auto; text-align: center; width: 100%; height: 100%; background: rgba(200, 10, 10, 0.4);" class="text-center">
				 <h1 id="disconnected-text" style="display: table-cell; vertical-align: middle;" class="ui text blue">
				 You've been disconnected, please try refreshing.
				 </h1>
				 </div>
				 </div>
			   -->
      <div id="chat-messages-container">
		  <div id="chat-messages" class="ui grid container"></div>
      </div>
      <div class="input-holder " >
		  <div class="form-group">
			  <span id="other-is-typing" style="display: none; float: left; z-index: 50; color: white; background-color: dodgerblue;" class="label label-info">Somebody else is typing...</span>
			  <span id="count-remaining-characters" style="display: none; float: right; z-index: 50; color: white; background-color: darkred;" class="label label-info">5000/5000</span>
			  <textarea class="form-control" placeholder="$ echo" rows="3" id="text" type="text"></textarea>
              <button id="send-catmsg" style="display: none;">the stewart button</button>

		  </div>
	  </div>

	  <span id="nasa-talk" style="font-size: 0.8em; display: none; line-height: 0.8em; color: #428bca;">
		  <!-- NASA POD comments go here, if turned on -->
	  </span>

    </div>


	  <script src="{{AppSubUrl}}/js/chat.js"></script>






		{{ end }}
