
{{ define "chat/radio.tmpl" }}

<style>
             div#playlist {
				 position: relative;
               overflow: scroll;
               height: 100%;
				 border: 2px solid lightgray;
               }
             #songs-list {
    max-height: 60vh;
    padding: 20px;
               }
				.list-song {
font-size: 0.8em;
					}
	div.list-song.ui.row {
		padding: 0rem 0rem 0rem 1rem !important;
		background-color: rgba(255, 255, 255, 0.1);
		}
             div.list-song.ui.playing {
               background-color: red !important;
				 color: white;
               }
	#radio-room {
		padding: 10px 20px 20px 20px;
		border-bottom: 2px solid red;
		}
	input#songs-filterer {
		background-color: lightgray;
		color: red;
		border-radius: 0px;
		border: none;
		border-bottom: 1px solid red;
		}
	#songs-count {
color: red;
	}
	#other-channels {
background-color: dodgerblue;
		color: white;
		border-radius: 3px;
		padding: 2px;
	}
            </style>

			<div id="radio-room" style="">

				<div class="ui right floated">
					<span id="songs-count"></span>
					<br/>
					<!-- this could be ul somedaay TODO -->
					<span id="other-channels" style="display: none;"></span>
				</div>
                <!-- <em style="color: red;">Pirate radio.</em> -->
				<div class="ui form" style="max-width: 40%; margin-right: auto; padding-bottom: 10px;">
				<div class="ui fluid action input">
                <input id="songs-filterer" name="song-filter" type="text" value="" placeholder="Pirate radio search"/>
				<button id="find-playing" class="ui blue button">show playing</button>
				</div>
				</div>

                <!-- Playlist -->
                <div id="playlist" >
                    <div id="songs-list" class="ui grid container"></div>
                </div>
			</div>
			<script>
				$("#find-playing").on("click", function () {
					console.log("finding playing'_");
					var playing = $(".playing").first();
					$("#playlist").animate({
						scrollTop: $("#playlist").scrollTop() + playing.position().top - $("#playlist").height()/2 + playing.height()/2
						/* scrollTop: playing.offset().top > $("#playlist").offset().top ?*/
						/* (playing.offset().top - $("#playlist").offset().top) :*/
						/* (playing.offset().bottom)*/
					}, 1000);
				});
			</script>
{{ end }}
