{{template "base/head" .}}
<div class="dashboard feeds">
	{{template "user/dashboard/navbar" .}}
	<div class="ui container">
		<div class="ui grid">
			<div class="six wide column">
				<!-- xkcd -->
				<script>
					$(function () {

						// xkcd comic of the day json here
						// http://xkcd.com/info.0.json
						// {"month": "11", "num": 1766, "link": "", "year": "2016", "news": "", "safe_title": "Apple Spectrum", "transcript": "", "alt": "If I were trapped on a desert island, and could have an unlimited supply of any one type of apple, I'd be like, \"How did this situation happen?\"", "img": "http:\/\/imgs.xkcd.com\/comics\/apple_spectrum.png", "title": "Apple Spectrum", "day": "30"}

						var linker; // for xkcd link
						// this is a dynamic mirrory JSONP version of the plain old JSON
						$.getJSON('http://dynamic.xkcd.com/api-0/jsonp/comic/?callback=?', function (data) {
						    console.log(data);
						    linker = data.img;
						    $("<p></p>").html(data.safe_title + ": " + data.alt).addClass("text light gray").appendTo("#xkcd-image");
						    $( "<img>" ).attr( "src", data.img ).appendTo( "#xkcd-image" );
						});
						// click to see raw bigger img (in new window)
						$('#xkcd-image').click(function () {
							window.open(linker);
							return false;
						})
					});
				</script>
				<style>
				    #xkcd-image img {
				        max-width: 100%;
				    }
				    #xkcd-image {
				    	background-color: #f0f0f0;
				    	padding: 10px;
				    	border-radius: 5px
				    }
				</style>
				<script>
					$(function () {

					function chooseContent(tobe) {
					   localStorage.setItem("sidebarpref", tobe);
					}
					function getContentChoice() {
					   return localStorage.getItem("sidebarpref");
					}

						function stowToph() {
					$("#tophstuff").hide();
					$("#repostuff").show();
					$("#chooseToph").css({ "color":"blue", "text-decoration":"underline"});
					$("#stowToph").css({ "color":"black", "text-decoration":"none" });
					localStorage.setItem("sidebarpref", "notoph");
					console.log("hiding toph");
					}

						function showToph() {
					$("#tophstuff").show();
					$("#repostuff").hide();
					localStorage.setItem("sidebarpref", "toph");
					console.log("showing toph");
					$("#chooseToph").css({ "color":"black", "text-decoration":"none" });
					$("#stowToph").css({ "color":"blue", "text-decoration":"underline"});
					}


						var c = getContentChoice();
					console.log(c);
					switch(c) {
					case "toph":
					   showToph();
					break;
					case "notoph":
					   stowToph();
					break;
					default:
					showToph();
					}
					$("#chooseToph").click(showToph);
					$("#stowToph").click(stowToph);
					});
				</script>

				<!-- the latest and greatest tttweets -->
				<small id="chooseToph" >toph</small>
				<small id="stowToph">repos</small>


    <div id="tophstuff" style="display: none;">

				<a class="twitter-timeline" href="https://twitter.com/archreactorstl" data-tweet-limit="1">Tweets by archreactorstl</a>
				<a class="twitter-timeline" href="https://twitter.com/tophtucker" data-tweet-limit="1">Tweets by tophtucker</a>
				<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				<!-- xkcd down below -->
				<div id="xkcd-image"></div>
				</div>

				<div id="repostuff" style="display:none;">

				<div class="ui {{if not .ContextUser.IsOrganization}}three{{else}}two{{end}} item tabable menu">
					<a class="item active" data-tab="repos">{{.i18n.Tr "repository"}}</a>
					{{if not .ContextUser.IsOrganization}}
						<a class="item" data-tab="orgs">{{.i18n.Tr "organization"}}</a>
					{{end}}
					<a class="item" data-tab="mirrors">{{.i18n.Tr "mirror"}}</a>
				</div>
				<div class="ui tab active list" data-tab="repos">
					<h4 class="ui top attached header">
						{{.i18n.Tr "home.my_repos"}} <span class="ui grey label">{{.ContextUser.NumRepos}}</span>
						<div class="ui right">
							<a class="poping up" href="{{AppSubUrl}}/repo/create" data-content="{{.i18n.Tr "new_repo"}}" data-variation="tiny inverted" data-position="left center">
								<i class="plus icon"></i>
								<span class="sr-only">{{.i18n.Tr "new_repo"}}</span>
							</a>
						</div>
					</h4>
					<div class="ui attached table segment">
						<ul class="repo-owner-name-list">
							{{range .Repos}}
								<li {{if .IsPrivate}}class="private"{{end}}>
									<a href="{{AppSubUrl}}/{{$.ContextUser.Name}}/{{.Name}}">
										<i class="octicon octicon-{{if .IsFork}}repo-forked{{else if .IsPrivate}}lock{{else if .IsMirror}}repo-clone{{else}}repo{{end}}"></i>
										<strong class="text truncate item-name">{{.Name}}</strong>
										<span class="ui right text light grey">
											{{.NumStars}} <i class="octicon octicon-star rear"></i>
										</span>
									</a>
								</li>
							{{end}}
							{{if gt .ContextUser.NumRepos .MaxShowRepoNum}}
							<li>
								<a href="{{.ContextUser.HomeLink}}">{{.i18n.Tr "home.show_more_repos"}}</a>
							</li>
							{{end}}
						</ul>
					</div>

					{{if not .ContextUser.IsOrganization}}
						<h4 class="ui top attached header">
							{{.i18n.Tr "home.collaborative_repos"}}
						</h4>
						<div class="ui attached table segment">
							<ul id="collaborative-repo-list">
								{{range .CollaborativeRepos}}
									<li {{if .IsPrivate}}class="private"{{end}}>
										<a href="{{AppSubUrl}}/{{.Owner.Name}}/{{.Name}}">
											<i class="octicon octicon-{{if .IsPrivate}}lock{{else if .IsFork}}repo-forked{{else if .IsMirror}}repo-clone{{else}}repo{{end}}"></i>
											<span class="text truncate owner-and-repo">
												<span class="text truncate owner-name">{{.Owner.Name}}</span> / <strong>{{.Name}}</strong>
											</span>
											<span class="ui right text light grey">
												{{.NumStars}} <i class="octicon octicon-star rear"></i>
											</span>
										</a>
									</li>
								{{end}}
							</ul>
						</div>
					{{end}}
				</div>

				{{if not .ContextUser.IsOrganization}}
					<div class="ui tab list" data-tab="orgs">
						<h4 class="ui top attached header">
							{{.i18n.Tr "home.my_orgs"}} <span class="ui grey label">{{.ContextUser.GetOrganizationCount}}</span>
							<div class="ui right">
								<a class="poping up" href="{{AppSubUrl}}/org/create" data-content="{{.i18n.Tr "new_org"}}" data-variation="tiny inverted" data-position="left center">
									<i class="plus icon"></i>
									<span class="sr-only">{{.i18n.Tr "new_org"}}</span>
								</a>
							</div>
						</h4>
						<div class="ui attached table segment">
							<ul class="repo-owner-name-list">
								{{range .ContextUser.Orgs}}
									<li>
										<a href="{{AppSubUrl}}/{{.Name}}">
											<i class="octicon octicon-organization"></i>
											<strong class="text truncate item-name">{{.Name}}</strong>
											<span class="ui right text light grey">
												{{.NumRepos}} <i class="octicon octicon-repo rear"></i>
											</span>
										</a>
									</li>
								{{end}}
							</ul>
						</div>
					</div>
				{{end}}

				<div class="ui tab list" data-tab="mirrors">
					<h4 class="ui top attached header">
						{{.i18n.Tr "home.my_mirrors"}} <span class="ui grey label">{{.MirrorCount}}</span>
						<div class="ui right">
							<a class="poping up" href="{{AppSubUrl}}/repo/migrate?mirror=1" data-content="{{.i18n.Tr "new_mirror"}}" data-variation="tiny inverted" data-position="left center">
								<i class="plus icon"></i>
								<span class="sr-only">{{.i18n.Tr "new_mirror"}}</span>
							</a>
						</div>
					</h4>
					<div class="ui attached table segment">
						<ul class="repo-owner-name-list">
							{{range .Mirrors}}
								<li {{if .IsPrivate}}class="private"{{end}}>
									<a href="{{AppSubUrl}}/{{$.ContextUser.Name}}/{{.Name}}">
										<i class="octicon octicon-repo-clone"></i>
										<strong class="text truncate item-name">{{.Name}}</strong>
										<span class="ui right text light grey">
											{{.Interval}}H <i class="octicon octicon-sync rear"></i>
										</span>
									</a>
								</li>
							{{end}}
						</ul>
					</div>
				</div>
				</div>

			</div>

			<div id="userfeeds" class="ten wide column userdash">
				{{template "user/dashboard/feeds" .}}
			</div>

		</div>
	</div>
</div>
{{template "base/footer" .}}
