{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
		<!-- 	<div>
				<img class="logo" src="{{AppSubUrl}}/img/rb-paint.jpg" />
			</div> -->
			<style>
				.text-primary {
					color: #428bca;
				}
				.text-danger {
					color: #d9534f;
				}
				.text-muted {
					color: gray;
				}
			</style>
			<script>
				$(function () {
					$('.hero').css('margin-top', $(document).height()/3.5);
				});
			</script>
			<div class="hero">

					<h1 style="background: gold;"><span class="text-primary">./</span><span class="text-danger">Rotblauer</span></h1>
					<p class="lead text-muted">Applied art and science.</p>

			</div>
			<div class="" style="border-bottom: 3px dashed gray; margin-top: 20px;"></div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
